body {
    background-color: #999f;
    margin: 0;
}
h2 {
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
}
form {
    background-color: #777f;
    padding: 20px 0;
    width: 500px;
    margin: auto;
    box-shadow: 0px 0px 10px #0002;
    margin-top: 50px;
}
.form_input {
    padding: 6px 20px;
}
input {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border-left: 2px solid #111f;
}
textarea {
    min-width: 100%;
    min-height: 30px;
    max-height: 200px;
    resize: vertical;
    font-family: sans-serif;
    border: none;
    border-left: 2px solid #111f;
    box-sizing: border-box;
    

}